github "getsentry/sentry-cocoa"             ~> 6.0
github "SnapKit/SnapKit"                    "develop"
github "SDWebImage/SDWebImage"              "master"
github "swisspol/GCDWebServer"              "master"
github "kif-framework/KIF"                  "master"
github "AgileBits/onepassword-app-extension"    "add-framework-support"
github "jrendel/SwiftKeychainWrapper"       "develop"
github "DaveWoodCom/XCGLogger"              ~> 7.0
github "cezheng/Fuzi"                       "master"
github "SwiftyJSON/SwiftyJSON"              "master"
github "mozilla-mobile/telemetry-ios"      ~> 1.1
github "mozilla-mobile/MappaMundi"          "master"
github "Leanplum/Leanplum-iOS-SDK"          ~> 3.0.0
github "mozilla-services/shavar-prod-lists" "86.0"

# Use release version of application-services
github "mozilla/application-services"      "main"
