PRODUCT_BUNDLE_IDENTIFIER=com.q2r5.$(CONFIGURATION).$(PRODUCT_NAME)

CODE_SIGN_ENTITLEMENTS = Extensions/Entitlements/$(CONFIGURATION).entitlements

PROVISIONING_PROFILE_SPECIFIER[config=Firefox][sdk=*][arch=*] = BR $(CONFIGURATION) $(PRODUCT_NAME) App Store
PROVISIONING_PROFILE_SPECIFIER[config=FirefoxBeta][sdk=*][arch=*] = BR $(CONFIGURATION) $(PRODUCT_NAME)
PROVISIONING_PROFILE_SPECIFIER[config=Fennec][sdk=*][arch=*] = Fennec $(PRODUCT_NAME)
PROVISIONING_PROFILE_SPECIFIER[config=FennecEnterprise][sdk=*][arch=*] =

INFOPLIST_FILE = Extensions/$(TARGET_NAME)/Info.plist

SWIFT_OBJC_BRIDGING_HEADER =
APPLICATION_EXTENSION_API_ONLY = YES

FRAMEWORK_SEARCH_PATHS = $(PROJECT_DIR)/Carthage/Build $(PROJECT_DIR)/Carthage/Build/iOS
